<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mran.nmusic">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".mainactivity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".service.MusicControlBroadReciver">
            <intent-filter>
                <action android:name="com.mran.nmusic.NOTIFICATION_PLAY"/>
                <action android:name="com.mran.nmusic.NOTIFICATION_NEXT"/>
                <action android:name="com.mran.nmusic.NOTIFICATION_STOP"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.MusicPlayService"/>
        <meta-data
            android:name="com.mran.nmusic.adapter.MyGlideModule"
            android:value="GlideModule"/>
    </application>

</manifest>